<h1>Login</h1>

This is an imaginary login page. Well, clearly not actually imaginary per se, rather, a mock of a login page that you'd definitely want to replace with something more ... uh ... real.

<ul>
  <li><a href="/login?user=1">User 1</a></li>
  <li><a href="/login?user=2">User 2</a></li>
</ul>
